.item {
  background: #ffffff;

  height: 90px;

  background-color: #3133aa;
  margin: 0;
  margin-top: 120px;
  padding: 0;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  position: absolute;
  animation-name: moverse;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
}
@keyframes moverse {
  from {
    width: 0%;
  }
  to {
    width: 69%;
  }
}
.item2 {
  background: #ffffff;
  background-color: #3f42cb;
  height: 90px;

  margin: 0;
  margin-top: 203px;
  padding: 0;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  position: absolute;
  animation-name: moverse2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes moverse2 {
  from {
    width: 0%;
  }
  to {
    width: 92%;
  }
}
.item3 {
  background: #ffffff;
  background-color: #686ae4;
  height: 90px;

  margin: 0;
  margin-top: 293px;
  padding: 0;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  position: absolute;
  animation-name: moverse3;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes moverse3 {
  from {
    width: 0%;
  }
  to {
    width: 73%;
  }
}
.item4 {
  background: #ffffff;
  background-color: #cb3f77;
  height: 90px;
  width: 100%;
  margin-top: 30px;

  margin-right: auto;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  position: absolute;
  animation-name: moverse4;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes moverse4 {
  from {
    width: 100%;
    margin-left: 100%;
  }
  to {
    width: 50%;
    margin-left: 50%;
  }
}
.item5 {
  background: #ffffff;
  background-color: #ac3364;
  height: 90px;
  width: 100%;
  margin-top: 120px;

  margin-right: auto;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  position: absolute;
  animation-name: moverse5;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes moverse5 {
  from {
    width: 100%;
    margin-left: 100%;
  }
  to {
    width: 20%;
    margin-left: 80%;
  }
}
.item6 {
  background: #ffffff;
  background-color: #cb3f77;
  height: 90px;
  width: 100%;
  margin-top: 210px;

  margin-right: auto;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  position: absolute;
  animation-name: moverse6;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes moverse6 {
  from {
    width: 100%;
    margin-left: 100%;
  }
  to {
    width: 70%;
    margin-left: 30%;
  }
}

.ojo1 {
  background-color: #000000;
  margin-left: 83%;

  margin-top: 135px;
  z-index: 1;
  margin-right: auto;
  border-radius: 100%;
  position: absolute;
  animation-name: aniojo1;
  animation-duration: 6.5s;
  animation-fill-mode: forwards;
}
@keyframes aniojo1 {
  from {
  }
  to {
    width: 10px;
    height: 10px;
  }
}
.ojo2 {
  background-color: #000000;
  margin-left: 83%;

  margin-top: 180px;
  z-index: 1;
  margin-right: auto;
  border-radius: 100%;
  position: absolute;
  animation-name: aniojo1;
  animation-duration: 6.5s;
  animation-fill-mode: forwards;
}
@keyframes aniojo1 {
  from {
  }
  to {
    width: 10px;
    height: 10px;
  }
}
.boca {
  margin-left: 83%;

  margin-top: 147px;
  z-index: 1;
  border-radius: 100px;
  border-right: 20px solid #49152a;
  position: absolute;
  animation-name: aniojo2;
  animation-duration: 6.5s;
  animation-fill-mode: forwards;
}
@keyframes aniojo2 {
  from {
  }
  to {
    width: 30px;
    height: 30px;
  }
}


.hombre-feliz{
 margin-top: 20px;
 text-align: center;
 
}
.face{
  margin-top: 15px;
  transition: 1s;
}


#empezarfin .estudio{

  text-align: center;
  background-color: #3f42cb;
  border-radius: 25px;
  margin: 15px;
  padding: 20px;
 color: #ffffff;
 font-weight: 100;

}
#empezarfin img{
  padding-bottom: 15px;
  width: 50px;
  height: 50px;
  
}
#empezarfin{
  
  transform: translate(-150%);
  transition: 2s;
  transition-timing-function: ease-in;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  
  
  justify-content: center;
  margin-top: 25px;
  

}


#evento-click:checked ~ .hombre-feliz .face{

  transform: translate(80%);
  transition: 1s;
  visibility: hidden;
  display: none ;
}

#evento-click:checked ~ #empezarfin{
  transform: translate(0%);
  transition: 1s;
  
}
#evento-click:checked ~ .boton2{
  visibility: visible;
  
}

@media (max-width: 521px) {
  #empezarfin{
    grid-template-columns: 1fr;
    font-size: 15px;
  }
}
@media (min-width: 856px) {
  #empezarfin{
    margin-bottom: 50px;
  }
}
@media (min-width: 1430px) {
  #empezarfin{
    margin-bottom: 80px;
  }
}

