
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');




*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #8acf65;
}
.container{
    width: 90%;
    overflow: hidden;
    padding: var(--padding-container);
    float: right;
}

header{
    z-index: 99;
    position:relative;
    background-color: #18654d;
    height: 100px;
    padding:0 50px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
   
}
.menu{
    background-color: #18654d;
   
    float: right;
    
}
.menu a{
    
    color: #8acf65;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    padding: 0 10px;
    transition: 0.4s;
    
}
.mostrar-menu,
.esconder-menu{
    
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover
.esconder-menu:hover{
    color: #4affc6;
}

#check{
    display: none;
}
/*BANNER*/
#banner{
    padding: 0 50px;
    position: relative;
    padding-top: 112px;
    
}
.contenido-banner{
    
    position: relative;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* RESPONSIVE */
@media(max-width: 768px){
    /*HEADER*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
        
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        
        text-align: center;
        right: -100%;
        top: 0;
        padding: 100px 0;
        z-index: 100;
        transition: 0.6s;
        
    }
    .menu a{
        display: block;
        padding: 20px;
        transition: 0.3s;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
        transition: 0.3s;
    }
    #check:checked ~ .menu{
        right: 0;

    }
}