h1.primario {
  color: #ffffff;
  font-size: 65px;
  color: #cb3f77;
  text-align: center;
  transition: 0.3s;
}
h1.secundario {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  font-weight: 100;
  transition: 0.3s;
}
.boton-empezar {
  text-decoration: none;
  color: #8acf65;
  border: 2px solid #8acf65;
  position: static;
  align-self: center;
  padding: 20px 40px;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s;
}
.boton-empezar:hover {
  background: #3133aa;
}
hr {
  background-color: #8acf65;
  border-color: #8acf65;
  width: 700px;
  height: 5px;
}
@media (max-width: 521px) {
  /*HEADER*/
  h1.primario {
    font-size: 38px;
    margin-top: 18px;
    text-align: left;
    transition: 0.3s;
  }
  h1.secundario {
    font-size: 32px;
    margin-top: 32px;
    text-align: left;
    transition: 0.3s;
  }
  .boton-empezar {
    margin-top: 36px;
    transition: 0.3s;
    align-self: baseline;
    /*nuev*/
  }
}
/*PROYECTOS*/
.proyectos {
  background-color: #ffffff;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;

}
.proyectos h1 {
  font-size: 90px;
  transition: 0.4s;
}
/*CONTENIDO PROYECTOS*/
@media (max-width: 452px) {
  /*HEADER*/
 .proyectos h1{
  font-size: 60px;
  transition: 0.4s;
 }
 .proyectos p {
  padding-left: 30px;
  padding-right: 30px;
}
}
.contendor-webs {
  padding-left: 10%;
  margin-top: 20px;
  padding-right:10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
  transition: 0.4s;
}
.contendor-webs-animacion{
  margin-top: 10px;
  margin-right: 15px;
}
.contendor-webs-web{
  margin-top: 10px;
  margin-right: 15px;
}
.contendor-webs-animacion,
.contendor-webs-web {
  background: linear-gradient(to bottom,#3133aa , #686ae4);
 
  border-radius: 40px;
  height: 200px;
  width: 200px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  border-color: #000000;
  border-width: 5px;
  border-style: solid;
  align-content: center;
  -webkit-appearance: none;
}
.contendor-webs button:hover {
  -webkit-appearance: none;
  height: 250px;
  width: 250px;
  transition: 0.3s;
  background-color: #cb3f77;
  animation-name: animaciondeboton;
  background: linear-gradient(to top, rgb(201, 82, 122), #3133aa);
  color: #ffffff;

}

.contendor-webs-animacion h1 {
  font-size: 32px;
}

footer {
  margin-top: 100px;
  padding-bottom: 300px;
  background-color: #ffffff;
}
@media (max-width: 545px) {
  
  .contendor-webs {
    display: flex;
    flex-direction: column;
    align-content: center;
}
}