#sobre-mi{
    display: flex;
    margin-top: 310px;
    padding-left: 50px;
    padding-right: 90px;
    justify-content: center;
}
h1.sobre-mi-h2{
    
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    margin-right: 80px;
    margin-left: 80px;
    color: whitesmoke;
    background: linear-gradient(to bottom, #3133aa, #cb3f77);;
    border-radius: 40px;
    padding: 20px;

}
